body{
    margin-top:35px;
    font-family: 'Bebas Neue', sans-serif;
background:#f5f2fe;
    font-weight:normal;
    text-align:center;
     padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

h1{
    font-family: 'Indie Flower', cursive;
font-family: 'Comforter', sans-serif;
text-align:center;
font-weight:bold;
}

h2{
    background:pink;
    padding:20px;
}